body {
  background-color: rgb(90, 87, 87)
}

.gifDisp {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.gif {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
  /* change color of font */
  color: white;
}